html {
    font-family: "Georgia";
    color: #022B3A;
    background-color: #CCCCE2;
    padding: 2rem;
}

body {
    background-color: #fff;
    width: fit-content;
    padding: 2rem;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .08);
}

h1 {
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    background-color: #d9f0fa;
    padding: 1rem;
    width: fit-content;
    border-radius: 25px;
}
h1::after {
    content: " 👀 ";
}
th {
    font-weight: bold;
    background-color: antiquewhite;
    padding: 1em;
    text-align: left;
    border-radius: 1em;
}

td {
    padding: 1em;
}

img {
    border: 5px solid #022B3A;
    border-radius: 5em;
}